p {
  font-family: Lato;
}


mat-card { 
  margin:20px
}

mat-card-title { 
  align-content:center;
  background-color: cadetblue;
  padding: 10px;
}

mat-card-actions { 
  align-content:center;
  background-color: cadetblue;
  padding: 10px;
}