p {
  font-family: Lato;
}


mat-card { 
  margin:20px
}

mat-card-title { 
  align-content:center;
  background-color: cadetblue;
  padding: 10px;
}

mat-card-content { height: 300px; }

mat-card-actions { 
  align-content:center; 
  text-align: right;
  background-color: lightgrey;
  padding: 10px;
}

button { 
  margin: 10px;
}